/* Preloader */

.loader_bg {

	position: fixed;
	z-index: 999999;
	background-color: white;
	opacity: 100%;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

} 




body {
font-family: 'Montserrat', sans-serif;
	}

a{
	text-decoration: none;
	color: inherit;
}


.texto_encabezado h2{

	font-size: 1.8rem;
	font-weight: bolder;
	text-align: left;
	margin-left: 4rem;
	color: white;
	text-shadow: 2px 1px 2px rgba(150, 150, 150, 0.53);
}

.texto_encabezado p{

	text-align: left;
	margin-left: 4rem;
	color: white;
	text-shadow: 2px 1px 2px rgba(150, 150, 150, 0.53);}


header {

	height: 87vh;
	background-image: url(img/principal.jpg);
	background-size: cover;
	background-attachment: fixed;
}


header nav {

	background-color: rgb(0, 0, 0, 0.5);
	width: 100%;
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	border-radius: 3px;
	padding-left: 3rem;
	padding-right: 3rem;
	z-index: 999998;
}


header nav a {
	text-decoration: none;
	color: white;
	padding: 2;
	text-align: center;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 1rem;
}

header nav a:hover{
	color: black;
	background-color: #fdc302;
	text-decoration: none;
}

.wave {
	display: block;
	z-index: 999997;
}

.wave2{
	display: block;
	background-color: #fdc302;
}

header nav a #logo:hover{

	background-color: none;
}

.section1 {	

	background-color: white;
	margin-top: 8rem;
}

.texto_encabezado {

	padding-top: 8rem;
	text-align: left;
	color: white;
	top: 1rem;
}

.boton_reel {

	height: 2.5rem;
	width: 11rem;
	text-align: center;
	background-color: #fdc302;
	border-radius: 15px 15px 15px 15px;
	color: white;
	padding-top: 0.5rem;
	margin-top: 1.5rem;
	margin-left: 4rem;
	position: absolute; }

.boton_reel:hover{
	color: black;
	text-decoration: none;
}
.boton_reel a:hover{
	text-decoration: none;
	color: black;
}
.section1 {
	padding-top: 2rem;
	background-color: white;
	height: 135vh;
	margin: auto;
	text-align: center;
}

.section1 h2{
	padding: 0.5rem;
}

.card1 {
	
	text-align: left;
	margin:auto;
	margin-top: 3rem;
	padding: 3rem;
	height:12rem;
	width: 55rem;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 10px 10px 58px -40px rgba(38,38,38,1);
}

.card1:hover {

	box-shadow: 20px 20px 70px -60px ;
	transform: scale(1.1);
}

#card2 {
	padding: 4rem;
	height: 50%;
}

.section2 {
	padding-top: 1rem;
	height: 250vh;
	background-color: #fdc302;
	display: flex;
	justify-content: center;
	align-content: center;
	padding-bottom: 10rem;
	width: 100vw;
}



.cards2 {

	margin:auto;
	margin-top: 2rem;
	padding: 3rem;	
	border-radius: 15px 15px 15px 15px;
	box-shadow: 10px 10px 58px -40px rgba(38,38,38,1);
	background-color: rgba(255,255,255,0.2);
	height: 18rem;
	text-align: left;
	
}



.cards3 {

	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: left;
	width: 100vw;

}

.card4 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: left;
	font-size: 0.8rem;
	padding: 1rem 5rem 2rem 5rem;
	box-shadow: 10px 10px 58px -40px rgba(38,38,38,1);
	width: 100vw;

}

.card5 {	

	width: 100vw;
	font-size: 0.8rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: left;
	padding: 1rem 5rem 2rem 5rem;
	margin-top: 1.5rem;
	box-shadow: 10px 10px 58px -40px rgba(38,38,38,1);

}


.section3 {
	color: white;
	height: 75vh;
	background-color: #fdc302;
	text-align: center;
	width: 100%;
}

.section3 h3{
padding-top: 2rem;
font-size: 2.5rem;
font-weight: bolder;
}


img:hover{
	opacity: 0.9;
}

footer {
	height: 20vh;
	padding: 2rem;
	/*color: white;
	background-color: black;*/
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
}

form {
	border-radius: 10px;
	margin: auto;
	padding: 5px 35px;
	padding-bottom: 30px;
}

form input{

	background-color: white;
	border: none;
	outline: none;
	border-bottom: 2px solid white;
	width: 70%;
	padding: 7px;
	margin-bottom: 20px; 
	border-radius: 5px;
	opacity: 80%;
	}

form label {

	display: block;
	color: white;
	position: relative;
	text-align: center;

}

.boton{

	width: 70%;
	outline: none;
	background-color: #FF9B00;
	border: none;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	color: white;
	margin-top: 0.5rem;
	}	


.whatsapp {

	border-radius: 50%;
	background-color: #00bb2d;
	padding: 0.5rem;
	position: fixed;
	bottom: 6.5rem;
	right: 2rem;
	z-index: 99998;
}


.texto_section2 {

	width: 50%;
	font-size: 0.8rem;
	padding: 1rem;
}

#card_white {
	padding: 5rem;
	background-color: white;
	margin-top: 5rem;
	margin-bottom: 5rem;

}

#card_centrada {

	text-align: center;
}

 
.section4 {

	height: 100%;
	text-align: left;
	width: 100vw;
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
}

.section4 div{

	margin: 0.5rem;
	padding: 2rem;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 10px 10px 40px -40px rgba(38,38,38,1);
	font-size: 0.8rem;
	text-align: left;
	height: 20rem;
 }
.section4 div img{
	padding: 1rem;
}

.subtitulo{
	text-align: center;
	font-weight: bolder;
	margin-top: 2.5rem;
	margin-bottom: 1rem; }



#card_aparte {

	margin-top: 0.2rem;
	margin-bottom: 5rem;

}


#card_aparte2{

	margin-top: 0.2rem;
	margin-bottom: 5rem;

}


/*------------ RESPONSIVE ------------------ */

@media screen and (max-width: 800px) {


	.wave {
	position: relative;
	bottom: 5rem; }
	 

	.section1 {
	font-size: 0.8rem;
	height: 100%;
	}

	div{
		font-size: 0.8rem;
	}
	

	.wave {

		position: relative;
		bottom: 1rem;
	}

	#imgrecursos{

		height: 150px;
		margin:auto;

	}

	.card5 {

		box-shadow: none;
	}

	#imgdesign{

		display: none;

	}

	#imgtecnica{

		display: none;
	}

	
	#imgplataforma {	
		display: none;
	}

	#imgrecursos {

		display: none;
}
	#card_white {

	display: flex;
	justify-content: center;
	padding: 1rem;
	background-color: white;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	text-align: left;
}

#card_centrada {

	display: flex;
	justify-content: center;
	text-align: left;
}



	
	.section2 {
		height: 100%;
		width: 100vw;

	}

	.section3{
		height: 100%;
		width: 100%;

	}

	.section4 {
		height: 100%;
		width: 100%;
	}


	.card1 {

	height: 100%;
	padding-bottom: 2rem;
	width: 100%;
	}


	.header {

		width: 100%;
	}

	.header nav {

		padding: 0.4rem;
		margin: 0.4rem;
		font-size: 0.5rem;
	}


	.footer {

	font-size: 0.5rem;
	height: 100%;

	}


	.wave {

		margin-top: 7rem;
		position: sticky;
		top: 20rem;

}

}

@media screen and (max-width: 600px) {

.section2 {

	width: 100vw;
	background-color: #fdc302;
}


header nav {

	padding-left: 0.1rem;
	padding-right: 0.1rem;
	font-size: 0.5rem;

}

nav div a .logo:hover{

	background-color: none;	}


header nav .logo {

	height: 35px;
	
}


.cards1 {
	font-size: 0.4rem;
	margin-top: 0;
}

.card1 {

	height: 100%;
	padding-bottom: 2rem;
}



.section2 {

	width: 100vw;
	background-color: #fdc302;
}


form label {

	font-size: 1.2rem;
}


footer p{

	font-size: 0.5rem;
}

.wave {

	margin-top: 7rem;
	position: sticky;
	top: 20rem;

}


}


@media screen and (max-width: 1200px) and (min-width: 800px) {



.wave {


	margin-top: 7rem;
	position: sticky;
	top: 20rem;
}

#imgdesign {

	height: 200px;
}

#imgrecursos {

	height: 200px;
}

#imgtecnica {

	height: 200px;
}

#imgplataforma {

	height: 200px;
}
}